@page
@model LoginModel
@{
    ViewData["Title"] = "Entrar";
}

<div class="login-container d-flex align-items-center justify-content-center">
    <div class="login-form col-md-6 col-lg-4 p-5 shadow rounded bg-white">
        <div class="text-center mb-4">
            <h2 class="fw-bold text-dark">Entrar em sua conta:</h2>
            <p class="text-muted">selecione o método de entrar</p>
        </div>

        <div class="d-flex gap-2 mb-3">
            <button type="button" class="btn btn-light border w-50">
                <img src="https://www.svgrepo.com/show/355037/google.svg" width="20" class="me-2" /> Google
            </button>
            <button type="button" class="btn btn-light border w-50">
                <img src="https://www.svgrepo.com/show/349442/apple.svg" width="20" class="me-2" /> Apple
            </button>
        </div>

        <div class="text-center my-3 text-muted">Ou continue com seu email</div>

        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-2" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" autocomplete="Usuário" />
                <label asp-for="Input.Email">Nome</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" autocomplete="Usuário" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="" autocomplete="current-password" />
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="" autocomplete="current-password" />
                <label asp-for="Input.Password">Confirmar Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <input asp-for="Input.RememberMe" class="form-check-input me-1" />
                    <label asp-for="Input.RememberMe" class="form-check-label">Lembrar-me?</label>
                </div>
            </div>

            <button id="login-submit" type="submit" class="btn btn-primary w-100 py-2 rounded-3">Cadastrar</button>

            <div class="text-center mt-3">
               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}